body{
    margin: 0px;
    padding: 0px;
    background: #f5f5f5; /*#272829*/
}
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.containerdosheader{
    display:inline-block;
    background:none;
    position: fixed;
    width:100%;
    height:100px;
    background: none;

}

.header1{
    background: black;
    width:100%;
    height:30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header2{
    background: rgb(0, 0, 0);
    width: 100%;
    height:70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.caixa{
    display: flex;
    width:300px;
    background: none;
    height:100%;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.caixa2{
    display:flex;
    align-items:center;
    justify-content: center;
    width:200px;
    height:100%;
    background:none;
    margin-left: 300px;
}

.categorias{
    display:flex;
    justify-content: center;
    align-items: center;
    background:rgb(0, 0, 0);
    height:100%;
    width:600px;
    justify-content: space-around;
}

#login{
    text-decoration: none;
    font: bold;
    color: white; 
}

#link{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
}


.barra{
    border: 1px solid #fff;
    opacity: .4;
    height: 12px;
    margin-left: 8px;
}

.disfarce{
    width: 100%;
    height: 100px;

}
.compras{
    align-items:center;
    justify-content: center;
    display:flex;
    width:320px;
    gap:20px;
}

#sacola{
    width: 30px;
    height: 65%px;
}

#lupa{
    width: 30px;
    height: 65%px;
}

#dgpg{
    color: white;
    font-weight: bold;
}

.bannerdaloja{
    background: rgb(0, 0, 0);
    height:330px;
    width:100%;
    background-image: url(img/aaa.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.vazioroxo{
 width: 100%;
 height: 200px;
 background: none;
}

.tmm{
width: 100%;
height: 200px;
display: flex;
background: none;
gap: 100px;
justify-content: center;
}

#tmm1{
width: 400px;
height: 200px;
background: url(img/cliquemouse.png);
background-size: contain;
border-radius: 10px;
transition: 0.2s;

}

#tmm2{
width: 400px;
height: 200px;
background: purple;
background: url(img/cliqueteclado.png);
background-size: contain;
border-radius: 10px;
transition: 0.2s;
}

#tmm3{
width: 400px;
height: 200px;
background: purple;  
background: url(img/cliquemousepad.png);
background-size: contain;
border-radius: 10px;
transition: 0.2s;
}
#tmm1:hover{
    box-shadow: 1px 1px 15px #8b8b8b ; 
}
#tmm2:hover{
    box-shadow: 1px 1px 15px #8b8b8b ; 
}
#tmm3:hover{
    box-shadow: 1px 1px 15px #8b8b8b ; 
}
#destaque{
    text-align: center;
    width: 100%;
    color: #000000;
    font-family: "JetBrains Mono", monospace;
}

.itemDestaque{
   width: 100%;
   height: 400px;
   display: flex;
   gap: 30px;
   padding-top: 10px;
   justify-content: center;
   
}

.item1{
background: none;
width: 315px;
height: 370px;
transition: 0.2s;
box-sizing: border-box;
}



/*HOVER*/

    .item1:hover{
        border-radius: 10px;
        box-shadow: 1px 1px 15px #8b8b8b ; 
    }
    .item2:hover{
        border-radius: 10px;
        box-shadow: 1px 1px 15px #8b8b8b ; 
    }
    .item3:hover{
        border-radius: 10px;
        box-shadow: 1px 1px 15px #8b8b8b ; 
    }
    .item4:hover{
        border-radius: 10px;
        box-shadow: 1px 1px 15px #8b8b8b ; 
    }

.foto1{
    width: 315px;
    height: 250px;
    background: blue;
    display: flex;
    justify-content: center;
    background: url(img/tecladored.png);
    background-size: contain;
    border-radius: 10px 10px 0px 0px;
    
}
.foto2{
    width: 315px;
    height: 250px;
    background: blue;
    display: flex;
    justify-content: center;
    background: url(img/logitechteclado.png);
    background-size: contain;
    border-radius: 10px 10px 0px 0px;
    
}
.foto3{
    width: 315px;
    height: 250px;
    background: blue;
    display: flex;
    justify-content: center;
    background-size: contain;
    border-radius: 10px 10px 0px 0px;
    background: url(img/hyperxteclado.png);
    
}
.foto4{
    width: 315px;
    height: 250px;
    background: blue;
    display: flex;
    justify-content: center;
    background-size: contain;
    border-radius: 10px 10px 0px 0px;
    background: url(img/razerteclado.png);
    
}
.foto5{
    width: 315px;
    height: 250px;
    background: blue;
    display: flex;
    justify-content: center;
    background: url(img/logitechfone.png);
    background-size: contain;
    border-radius: 10px 10px 0px 0px;
    
}
.foto6{
    width: 315px;
    height: 250px;
    background: blue;
    display: flex;
    justify-content: center;
    background: url(img/hyperxfone1.png);
    background-size: contain;
    border-radius: 10px 10px 0px 0px;
    
}
.foto7{
    width: 315px;
    height: 250px;
    background: blue;
    display: flex;
    justify-content: center;
    background-size: contain;
    border-radius: 10px 10px 0px 0px;
    background: url(img/razer.png);
    
}
.foto8{
    width: 315px;
    height: 250px;
    background: blue;
    display: flex;
    justify-content: center;
    background-size: contain;
    border-radius: 10px 10px 0px 0px;
    background: url(img/redragonfone.png);
    
}
.foto9{
    width: 315px;
    height: 250px;
    background: blue;
    display: flex;
    justify-content: center;
    background-size: contain;
    border-radius: 10px 10px 0px 0px;
    background: url(img/miccougar.png);
}

.foto10{
    width: 315px;
    height: 250px;
    background: blue;
    display: flex;
    justify-content: center;
    background-size: contain;
    border-radius: 10px 10px 0px 0px;
    background: url(img/miclogitech.png);
}

.foto11{
    width: 315px;
    height: 250px;
    background: blue;
    display: flex;
    justify-content: center;
    background-size: contain;
    border-radius: 10px 10px 0px 0px;
    background: url(img/micjbl.png);
}

.foto12{
    width: 315px;
    height: 250px;
    background: blue;
    display: flex;
    justify-content: center;
    background-size: contain;
    border-radius: 10px 10px 0px 0px;
    background: url(img/gprox.png);
}
.foto13{
    width: 315px;
    height: 250px;
    background: blue;
    display: flex;
    justify-content: center;
    background-size: contain;
    border-radius: 10px 10px 0px 0px;
    background: url(img/cobra.png);
}
.foto14{
    width: 315px;
    height: 250px;
    background: blue;
    display: flex;
    justify-content: center;
    background-size: contain;
    border-radius: 10px 10px 0px 0px;
    background: url(img/gprox.png);
}
.foto15{
    width: 315px;
    height: 250px;
    background: blue;
    display: flex;
    justify-content: center;
    background-size: contain;
    border-radius: 10px 10px 0px 0px;
    background: url(img/vipermini.png);
}
.foto16{
    width: 315px;
    height: 250px;
    background: blue;
    display: flex;
    justify-content: center;
    background-size: contain;
    border-radius: 10px 10px 0px 0px;
    background: url(img/mouseazul.png);
}

#desc1{
    font-size: 15px;
    color:rgb(0, 0, 0);
    font-weight: bold;
    font-family: "JetBrains Mono", monospace;
    
}

#preco1{
    color:#4A4B4F;
    font-family: "Lato", sans-serif;
    
}


h3{
    font-family: "DM Sans", sans-serif;
}
#pix{
    font-size: 12px;
    color:green;
    font-family: "JetBrains Mono", monospace;
   
}

.juntar{
    text-align: center; 
    background: none;
}
#email{  /*EMAIL PARA RECEBER NOVIDADES*/
    width: 100%;
    height: 200px;
    background-color: #000000;
}
#post{
    padding-top: 40px;
    color: white;
    font-family: "JetBrains Mono", monospace;
}
#textinho{
    color: #999;
    font-family: "JetBrains Mono", monospace;
}

.grudar{
    text-align: center;
}
#ic{
    padding: 15px 32px;
    border-radius: 10px;
    font-family: "JetBrains Mono", monospace;
}
#btn{
    background-color: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border: 2px solid white;
    border-radius: 10px;
    font-family: "JetBrains Mono", monospace;
}

#btn:hover{
    background-color: white;
    color: black;
}
.camera{
margin-top: 15px;
}

.footerMenor{
    width:100%;
    height:178px;
    background: #424242;
}
.footerMaior{
    width:100%;
    height:400px;
    background: #121212;
    display: flex;
    justify-content: center;
    
}

#pagamentos{
    
    color: white;
    font-size: 15px;
    font-family: "JetBrains Mono", monospace;
}

.calica{
    padding-top: 10px;
    justify-content: space-around;
    display: flex;
    gap: 20px;
}

.fotinhas{
    width: 400px;
    height: 130px;
    background: url(img/formasdepagamento.png);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.fotinhas1{
    width: 400px;
    height: 110px;
    background: url(img/seguranca.png);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.sacola{
    padding-top: 10px;
    justify-content: space-around;
    display: flex;
    gap: 20px;
}

.cinza{
    color: #8b8b8b;
    font-family: "JetBrains Mono", monospace;
}
.logoB{
    margin-left:60px;
    background: url(img/logoloja.png);
    width:450px;
    height:200px;
    background-size: contain;
    background-repeat: no-repeat;
}
.danger{
    display: block;
    text-align: center;
}
.branco{
    font-family: "JetBrains Mono", monospace;
    color: white;
}
.gigante{
    height:700px;
    width:100%;
    display:flex;
    justify-content: center;
    gap:40px;
    padding-top: 40px;
    

}
.fotoproduto{
    
    height:700px;
    width:700px;

}
.precoproduto{
    
    height:700px;
    width:700px;
    background:none;
}
.curse{
    margin-top: 40px;
    width: 700px;
    height: 600px;
    border-radius: 10px;
    background: url(img/testft.png);

}
.zabuza{
    margin-top: 40px;
    width: 700px;
    height: 80px;
    background: none;
}
#tituloProduto{
    display: block;
    font-size: 40px;
    font-family: "JetBrains Mono", monospace;
}
.fita{
    margin-top: 20px;
    width: 700px;
    height: 500px;
    background:none;
    display:block;

}
.preconormal{
    font-size: 30px;
    font-family: "JetBrains Mono", monospace;
    background:none;
    height:40px;
    width:131px;
    font-weight: bold;
    margin-bottom:30px;
}
#btn2{

    padding: 15px;
    width: 390px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    border-radius: 40px;
    border: none;
  
    font-family: "JetBrains Mono", monospace;
    transition: 0.4s;
}
#btn2:hover{
    background: rgb(97, 97, 97);
    color: rgb(255, 255, 255);
    
}
.precopix{
    padding-left: 3px;
    background:none;
    height:40px;
    width:290px;
    font-size: 17px;
    font-family: "JetBrains Mono", monospace;
    color: green;

}

.juros{
    padding-left: 3px;
    background:none;
    height:25px;
    width:290px;
    font-size: 17px;
    font-family: "JetBrains Mono", monospace;
    margin-bottom:30px;
    
}

#btn3{

    margin-top: 5px;
    padding: 15px;
    width: 390px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    color: rgb(0, 0, 0);
    border-radius: 40px;
    font-family: "JetBrains Mono", monospace;
    transition: 0.4s;
    border:.1px solid gray;
    background: none;
}
#btn3:hover{
  box-shadow: 20px 20px 20x 20px;
  border:.9px solid rgb(0, 0, 0);

}
#frete{
    font-family: "JetBrains Mono", monospace;
    font-size: 20px;
}
#calc{
    font-family: "JetBrains Mono", monospace;
    font-size: 10px;
    
}
#shin{
    padding: 15px;
    width: 400px;
    font-family: "JetBrains Mono", monospace;
    border: none;
    border-radius: 40px;
    outline: 0;
}
#rasengan{
    border: 1px solid gray;
    border-radius: 40px;
    background: white;
    width: 530px;
    margin-top:20px;
}
#btn4{
    padding: 15px;
    color: white;
    background: black;
    border-radius: 40px;
    width: 100px;
    border: none;
    font-family: "JetBrains Mono", monospace;
    
}
.curse1{
    margin-top: 40px;
    width: 700px;
    height: 600px;
    border-radius: 10px;
    background: url(img/hyperxvitrine.png);

}
.curse2{
    margin-top: 40px;
    width: 700px;
    height: 600px;
    border-radius: 10px;
    background: url(img/hyperxmicvitrine.png);

}
.curse3{
    margin-top: 40px;
    width: 700px;
    height: 600px;
    border-radius: 10px;
    background: url(img/gloriousvitrine.png);

}
#home{
    margin-bottom: 2px;
    margin-right: 10px;
    height:40px;
    width:40px;
    background-size: contain;
    background-repeat: no-repeat;
}
@media (min-width: 390px)and (max-width:844px) {
    .gigante {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 800px;
        padding-left: 100px;
    }

    body {
        font-size: 14px;
    }
}

@media (min-width: 390px)and (max-width:844px){

.itemDestaque{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 400px;
}
}
#contadorSacola{
    font: 14px;
    color: white;
    font-family: "JetBrains Mono", monospace;

}
#textoLupa{
    height:15px;
    width:300px;
    padding: 10px 15px;        
    font-size: 16px;          
    border: 2px solid #ccc;  
    border-radius: 15px;      
    outline: none;            
    transition: all 0.3s ease;
}
#textoLupa:focus{
    border-color: #007BFF;   
    background-color: #f0f8ff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}
